html{
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #9ae2ff50;
}

.modal-header h1{
    font-size: 1.8rem;
    color: #00000088;
    margin-bottom: 5px;
}

.modal-header h2{
    font-size: 3.6rem;
    font-weight: bold;
    margin-bottom: 50px;
    font-family: 'Pacifico', cursive;
    color: #19C8DB ;
}

.modal-header h1,h2{
    text-align: center;
}

.btn{
    width: 1440px;
    display: flex;
    margin: 100px auto;
    justify-content: center;
    align-items: center;
}

#open-modal:hover{
    cursor: pointer;
    color: #fafafa;
}

#open-modal{
    padding: 10px 15px;
    background-color: #19C8DB;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 48px;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Mono', monospace;
}

#close-modal{
    background-color: transparent;
    color: #19C8DB;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    font-size: 5rem;
    transition: 0.3s;
    position: absolute;
    left: 88%;
    bottom: 85%;
}

#close-modal:hover{
    font-size: 5.2rem;    
}

#fade, #modal{
    transition: .5s;
    opacity: 1;
    pointer-events: all;
}

#fade{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

#modal{
    position: fixed;
    left: 50%;
    top:50%;
    z-index: 10;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    width: 500px;
    height: 400px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modal.hide, #fade.hide{
    opacity: 0;
    pointer-events: none;
}

#modal.hide{
    top:0;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-input{
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    border: unset;
    outline: none;
}

.login-input-border{
    height: 1px;
    width: 100%;
    margin-bottom: 16px;
    background-color: #cfcfcf;
}

.login-input-border:after{
    content:'';
    display: block;
    height: 2px;
    width: 0;
    margin-bottom: 16px;
    background: #19C8DB;
    transition: .3s ease-in-out;
}

.login-input:focus + .login-input-border:after{
    width: 100%;
}

.login-submit{
    height: 40px;
    width: 100%;
    outline: none;
    background-color: #19C8DB;
    border: none;
    border-radius: 100px;
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin: 20px 0 32px 0;
    transition: 0.2s;
}

.login-submit:hover{
    background-color: #17b7c9;
    scale: 1.05;
}

.login-reset{
    font-size: 1.2rem;
    color:#19c8dbb2 ;
    text-decoration: none;
    font-weight: 600;
}